<a href="https://colab.research.google.com/github/komal-shahzada/python/blob/main/lesson2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 #variables in pythhon
 #Python has no command for declaring a variable.

#A variable is created the moment you first assign a value to it.
x = 5
y = "komal"
print(x)
print(y)

5
komal

In [2]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [3]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [5]:
x = 5
y = "komal"
z-3.5
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

In [9]:
 #String variables can be declared either by using single or double quotes, can also use tripple quetation marks:
 x = "ayat"
# is the same as
x = 'ayat'
z="'ayat'"
print(x,y,z)

ayat komal 'ayat'

In [11]:
 #Variable names are case-sensitive.
 a = 4
A = "Sally"
#A will not overwrite a
print(a)
print(A)

4
Sally

In [13]:
 #Rules for Python variables:

 # A variable name must start with a letter or the underscore character
 #A variable name cannot start with a number
 #A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
 #Variable names are case-sensitive (age, Age and AGE are three different variables)
 #A variable name cannot be any of the Python keywords
 myvar = "ayat"
my_var = "komal"
_my_var = "ali"
myVar = "komal"
MYVAR = "kiran"
myvar2 = "zainab"

In [15]:
 #Python allows you to assign values to multiple variables in one line:
 x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [16]:
#The Python print() function is often used to output variables
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [19]:
#Global variables can be used by everyone, both inside of functions and outside
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

#another example

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome
Python is fantastic