<a href="https://colab.research.google.com/github/komal-shahzada/python/blob/main/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Create a list
students = ["Atif", "Ali", "Sara"]

# Add a new student
students.append("Ahmed")

# Replace a student name
students[1] = "Hassan"

# Remove one
students.remove("Sara")

# Print all students
for s in students:
    print(s)

print("Total students:", len(students))

Atif
Hassan
Ahmed
Total students: 3

In [2]:
# Create a list of fruits
fruits = ["apple", "banana", "cherry"]

# Print full list
print("Fruits list:", fruits)

# Print individual items
print(fruits[0])
print(fruits[1])
print(fruits[2])

Fruits list: ['apple', 'banana', 'cherry']
apple
banana
cherry

In [3]:
fruits = ["apple", "banana", "cherry"]

# Add new fruit
fruits.append("mango")

# Remove one fruit
fruits.remove("banana")

print(fruits)

['apple', 'cherry', 'mango']

In [4]:
colors = ["red", "green", "blue"]

# Change the second item
colors[1] = "yellow"

print(colors)

['red', 'yellow', 'blue']

In [5]:
students = ["Komal", "Ali", "Sara", "Ahmed"]

for s in students:
    print("Student name:", s)

Student name: Komal
Student name: Ali
Student name: Sara
Student name: Ahmed

In [6]:
cities = ["Lahore", "Karachi", "Islamabad"]
print("Total cities:", len(cities))

Total cities: 3

In [7]:
numbers = [3, 1, 4, 2, 5]

# Sort ascending
numbers.sort()
print("Ascending:", numbers)

# Reverse order
numbers.reverse()
print("Descending:", numbers)

Ascending: [1, 2, 3, 4, 5]
Descending: [5, 4, 3, 2, 1]

In [8]:
girls = ["Komal", "Sara"]
boys = ["Ali", "Ahmed"]

students = girls + boys
print("All students:", students)

All students: ['Komal', 'Sara', 'Ali', 'Ahmed']

In [9]:
fruits = ["apple", "banana", "cherry"]

if "banana" in fruits:
    print("Yes, banana is in the list")
else:
    print("No, banana is not in the list")

Yes, banana is in the list

In [10]:
fruits = ["apple", "banana", "cherry"]
new_list = fruits.copy()

print("Original:", fruits)
print("Copied:", new_list)

Original: ['apple', 'banana', 'cherry']
Copied: ['apple', 'banana', 'cherry']

In [11]:
students = [
    ["Komal", 21],
    ["Ali", 22],
    ["Sara", 20]
]

for s in students:
    print("Name:", s[0], "| Age:", s[1])

Name: Komal | Age: 21
Name: Ali | Age: 22
Name: Sara | Age: 20

In [12]:
# Create an empty list to store numbers
numbers = []          # This initializes an empty list named 'numbers' where we will store user inputs

# Take 5 numbers as input from the user
for i in range(5):    # A loop that will run 5 times (from 0 to 4)
    # Ask the user to enter a number
    num = float(input(f"Enter number {i+1}: "))
    # input() takes user input as text (string)
    # float() converts it to a decimal number (so we can calculate average later)
    # f"Enter number {i+1}" shows the message like "Enter number 1", "Enter number 2", etc.

    numbers.append(num)   # Add the entered number to the 'numbers' list

# Print the full list entered by the user
print("\nNumbers you entered:", numbers)
# '\n' means a new line before printing the list (for clean output)

# Find the maximum, minimum, and average
maximum = max(numbers)      # max() finds the largest number in the list
minimum = min(numbers)      # min() finds the smallest number in the list
average = sum(numbers) / len(numbers)
# sum(numbers) adds all numbers together
# len(numbers) gives total count of items (here itâ€™s 5)
# dividing sum by length gives the average

# Display the results
print("Maximum number:", maximum)     # prints the largest number
print("Minimum number:", minimum)     # prints the smallest number
print("Average number:", average)     # prints the average value

Enter number 1: 3
Enter number 2: 6
Enter number 3: 7
Enter number 4: 8
Enter number 5: 3

Numbers you entered: [3.0, 6.0, 7.0, 8.0, 3.0]
Maximum number: 8.0
Minimum number: 3.0
Average number: 5.4