<a href="https://colab.research.google.com/github/komal-shahzada/python/blob/main/revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Print statement screen par output dikhane ke liye istemal hoti hai
print("Hello, Python!")

Hello, Python!

In [2]:
# Variable data store krny k liye istemal hota hai
name = "Komal"
age = 20
print(name, age)

Komal 20

In [3]:
# Python me basic data types
x = 10              # int
y = 3.5             # float
z = "Hello"         # str
is_student = True   # bool

In [5]:
# input() user se data lene ke liye hota hai (hamesha string return krta hai)
name = input("Enter your name: ")
print("Welcome", name)

Enter your name: komal
Welcome komal

In [6]:
# Input ko integer me convert kiya hai
a = int(input("Enter a number: "))
b = int(input("Enter another number: "))
print("Sum =", a + b)

Enter a number: 1
Enter another number: 2
Sum = 3

In [8]:
# Arithmetic Operators: + , - , * , / , %
print(10 + 5)
print(10 % 3)

15
1

In [9]:
age = int(input("Enter age: "))

if age >= 18:
    print("Eligible to vote")
else:
    print("Not eligible")

Enter age: 22
Eligible to vote

In [10]:
marks = 75
if marks >= 60 and marks <= 100:
    print("Pass")

Pass

In [11]:
# 1 to 5 numbers print
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [12]:
x = 1
while x <= 5:
    print(x)
    x += 1

1
2
3
4
5

In [13]:
text = "python programming"
print(text.upper())
print(text[0:6])   # slicing

PYTHON PROGRAMMING
python

In [14]:
# List: Changeable collection
fruits = ["apple", "banana", "mango"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'mango', 'orange']

In [15]:
for i in fruits:
    print(i)

apple
banana
mango
orange

In [16]:
# Dictionary key-value pairs store krta hai
student = {"name": "Komal", "age": 20, "grade": "A"}
print(student["name"])

Komal

In [17]:
student["age"] = 21
print(student)

{'name': 'Komal', 'age': 21, 'grade': 'A'}

In [18]:
# Tuple list jaisa hota hai lekin ye change nahi hota (immutable)
colors = ("red", "green", "blue")
print(colors)

('red', 'green', 'blue')

In [19]:
print(colors[0])   # red

red