<a href="https://colab.research.google.com/github/komal-shahzada/python/blob/main/reviewlecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:


name="komal"
y=50
print(name)
print(y)
x=3.89
print(x)
k=3+5
print(k)

komal
50
3.89
8

In [ ]:
x=2
x=3
print(x)

3

In [ ]:
Komal_list =[1,2,3]
Komal_list[2]=20
print(Komal_list)

[1, 2, 20]

frozen set syntax

In [ ]:
from typing import FrozenSet
komal_set=FrozenSet

print(frozenset)

<class 'frozenset'>

In [ ]:
s = {10, 20, 30}
fs = frozenset(s)
print(fs)

frozenset({10, 20, 30})

In [ ]:

x=1
y=9
z=x+y
print(z)

10

In [ ]:
k=7
y=4.8
print(k+y)

11.8

In [ ]:
k=1+9j
print(type(k))
y=2
print(type(y))

<class 'complex'>
<class 'int'>

In [ ]:
x='456'
x_float=float(x)
print(x_float)

456.0

In [ ]:
name=1       #this is integer datatype
bool_name=bool(name)
print(bool_name)
print(True + 5)

True
6

In [ ]:
x=bool(0)
print(x)
print(True==1)

False
True

In [ ]:
name = input("Enter your name: ")
print("Hello,", name)

Enter your name: komal
Hello, komal

In [ ]:
num1 = input("Enter 1st number")
num2 =input("Enter 2ns number")
print('the sum is: ', num1 + num2)
print(type(num1))
print(type(num2))

Enter 1st number1
Enter 2ns number
the sum is:  1
<class 'str'>
<class 'str'>

In [ ]:
num1 = input("Enter 1st number")
num1 = int(num1)
num2 =input("Enter 2ns number")
num2 =int(num2)
print('the sum is: ', num1+num2)

Enter 1st number1
Enter 2ns number2
the sum is:  3

In [ ]:
x=-5
print(+ x)
x=True
print(- x)
x=7
print(not x)

-5
-1
False

In [ ]:
x=1
y=3
z=5
print(x+y-z)

-1

In [ ]:
x=float("nan")
import math    # chk validation
print(math.isnan(x))

True

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:

x = 0.0 / 7.0
print(x)

0.0

In [ ]:
x = float('inf') - float('inf')
print(x)

ValueError: math domain error

In [ ]:
import math
x = math.sqrt(4) if hasattr(math, 'sqrt') else float('nan')
print(x)

2.0

In [ ]:
import math

num = -1
x = math.sqrt(num) if num >= 0 else float('nan')
print(x)

nan